{% extends 'base.html.twig' %}
{% block title %}Home Page
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1>{{user.getFirstName() ~ ' Rexcipes'}}</h1>
		<div class="row">
			{% for recipe in recipesList %}
				<div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3">
					{% include '_partials/_recipeCard.html.twig' %}
				</div>
			{% endfor %}
		</div>
	</div>
	{% include '_partials/_pagination.html.twig' %}
{% endblock %}
{% block footer %}{% endblock %}
