<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Rexcipes</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto">
				{% if app.user %}
					<li class="nav-item active">
						<a class="nav-link" href="/recipe/new">Create Rexcipes
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href={{ '/recipe/search/p:0;user:' ~ app.user.id }}>See Own Rexcipes
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href={{ '/recipe/search/p:0;user:' ~ app.user.id ~ ';f' }}>Favorites Rexcipes
						</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item active">
							<a class="nav-link" href={{ '/admin' }}>User Dashboard
							</a>
						</li>
					{% endif %}
				{% endif %}
			</ul>
			<ul class="navbar-nav">
				{% if app.user %}
					<span class="navbar-text text-primary fw-bold">{{ 'Hello ' ~ app.user.getFirstname()|capitalize }}</span>
					<lu class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="/logout">Logout
							</a>
						</li>
					</lu>
				{% endif %}
				<input id="searchBar" style="width:200px" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<div class="btn-group">
					<button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Search
					</button>
					<ul class="dropdown-menu dropdown-menu-lg-end">
						<li>
							<a class="dropdown-item" onclick="SearchCards('n')">Name</a>
						</li>
						<li>
							<a class="dropdown-item" onclick="SearchCards('i')">Ingredient</a>
						</li>
						<li>
							<a class="dropdown-item" onclick="SearchCards('td')">Total Duration</a>
						</li>
						<li>
							<a class="dropdown-item" onclick="SearchCards('c')">Category</a>
						</li>
					</ul>
				</div>
			</ul>

		</div>
	</nav>
</div>

<script>

	function SearchCards(type) {
search = document.getElementById("searchBar").value;
if (search == "") {
return;
}

document.location.href = '/recipe/search/p:0;' + type + ':' + search;
}
</script>
