{% form_theme form 'bootstrap_5_layout.html.twig' %}

<div class="container mt-3">
	{{ form_start(form) }}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			{% if(message != "") %}
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	{% endfor %}
  {{ form(form) }}
		</select>
	</div>
</div>
